.profile-data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 30rem;
    border-radius: 10px;
    padding: 2rem;
    overflow: hidden;
    height: 30rem;
    background-color: #fff; 
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    width: 50%;
    margin: auto;
}

.profile-info {
    margin-top: 2rem;
    text-align: left;
}

.profile-info .student-info strong {
    margin-right: 0.5rem; 
}

.profile-info .professor-info strong {
    margin-right: 0.5rem; 
}

.profile-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-info h2 {
    margin-bottom: 1.5rem; 
    font-weight: bold;
    font-size: 1.5rem;

}

.profile-info .student-info {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #666; 
}

.profile-info .professor-info {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #666; 
}

.change-password {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.change-password h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.change-password input {
    height: 2rem;
    border: 1px solid #ccc;
    margin-bottom: 0.75rem;
    padding: 0.5rem; 
    border-radius: 5px;
    width: 95%;
}

.profile-header {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.profile-divider {
    margin-top: 1rem; 
    margin-bottom: 1.5rem; 
    border-bottom: 1px solid #ccc; 
    width: 50%;
}

.change-password-btn{
    background-color: #3c2ebe;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.2s;
}

.change-password-btn:hover{
    background-color: #170a86de;
}